[submodule "limits-service"]
	path = limits-service
	url = https://github.com/krishan5/limits-service.git
[submodule "config-repo"]
	path = config-repo
	url = https://github.com/krishan5/config-repo.git
[submodule "spring-cloud-config-server"]
	path = spring-cloud-config-server
	url = https://github.com/krishan5/spring-cloud-config-server.git
[submodule "currency-exchange-service"]
	path = currency-exchange-service
	url = https://github.com/krishan5/currency-exchange-service.git
